{% extends 'index.html' %}

{% block form %}
    <h5 class="card-title">Re-enter old password to change</h5>
    <form method="post">
        <div class="mb-3">
            <label for="inputPasswordOld" class="form-label card-text">Old Password</label>
            <input type="password" class="form-control" id="inputPasswordOld" name="password_old">
            <label for="inputPassword" class="form-label card-text">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password_new">
            <label for="inputPasswordConfirm" class="form-label card-text">Confirm Password</label>
            <input type="password" class="form-control" id="inputPasswordConfirm" name="password_confirm" aria-describedby="passwordHelp">
            <div id="passwordHelp" class="form-text">Don't wanna change? <a href="{{url_for('index')}}">Go back here</a></div>
        </div>
        <button type="submit" class="btn btn-primary">Let's Go</button>
    </form>
{% endblock form %}